<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .container {margin-top: 150px}
        .warn {
            color: red;
        }
        .info {
            color: green;
        }
    </style>
    <title>Login</title>
</head>
<body>

<div class="container">

    <form action="/timesheet/user/authentication" method="post">
        <div id="msg" class="form-row justify-content-center">
            <div class="col-md-4">
                <p th:unless="${error} == null" th:text="${error}" class="warn"></p>
                <p th:unless="${msg} == null" th:text="${msg}" class="info"></p>
            </div>
        </div>

        <div class="form-row justify-content-center mt-3">
            <div class="form-group col-md-4">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username">
            </div>
        </div>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-4">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password">
            </div>
        </div>

        <div class="form-row  justify-content-center">
            <div class="col-md-4">
                <input class="btn btn-primary form-control" type="submit" value="Sign in">
            </div>
        </div>

        <div id="signup" class="form-row justify-content-center mt-3">
            <div class="col-md-4">
                <p class="text-center">New to Timesheet? <a href="/timesheet/user/signUp">Create an account.</a></p>
            </div>
        </div>
    </form>

</div>

</body>
</html>