<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS version 4 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">
        /*.col-md-2 {
            margin-left:auto;
        }
        .col-md-5 {
            margin-right: auto;
        }*/

        .container {
            margin-top: 80px;
        }
    </style>
    <title>Add a ticket</title>
</head>
<body>
<div class="container">

    <form action="" method="post">
        <div class="form-group row">
            <label for="activity" class="col-md-2 col-form-label">Activity</label>
            <div class="col-md-5">
                <input type="text" name="activity" id="activity" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label for="type" class="col-md-2 col-form-label">Type</label>
            <div class="col-md-5">
                <!--<input type="text" name="type" value="Support" readonly id="type" class="form-control">-->
                <select id="type" class="form-control" name="type">
                    <option selected>Support</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="resource" class="col-md-2 col-form-label">Resource</label>
            <div class="col-md-5">
                <input type="text" id="resource" name="resource" value="Your full name" readonly class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-md-2 col-form-label">Description</label>
            <div class="col-md-5">
                <input type="text" name="description" id="description" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label for="days" class="col-md-2 col-form-label">Days</label>
            <div class="col-md-5">
                <input type="number" step="0.1" min="0.1" name="days" id="days" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5 offset-md-2">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
    </form>

</div>
</body>
</html>