<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="/timesheet/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- 引入 Bootstrap-table CSS -->
    <link rel="stylesheet" href="/timesheet/node_modules/bootstrap-table/dist/bootstrap-table.min.css">
    <!-- Bootstrap-daterangepicker -->
    <link rel="stylesheet" href="/timesheet/node_modules/bootstrap-daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Timesheet</title>
</head>
<body>
<!-- navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand" href="#"><i class="fas fa-calendar-check"></i></a>
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="">Timesheet</a>
            </li>
        </ul>
        <button class="btn btn-secondary">Login</button>
        <!--<p class="navbar-text">Loign</p>-->
    </div>
</nav>

<div class="container mt-5">

    <div id="toolbar" class="row justify-content-between">
        <div class="col-md-3">
            <button id="add-ticket" type="button" class="btn btn-outline-primary mr-1" title="Add a ticket">
                <span class="fas fa-plus" aria-hidden="true">&nbsp;Add</span>
            </button>
            <button id="export" type="button" class="btn btn-outline-primary mr-1" title="Export timesheet">
                <span class="fas fa-file-export" aria-hidden="true">&nbsp;Export</span>
            </button>
        </div>
        <div class="col-md-6 px-lg-1">
            <div class="input-group">
                <input type="text" class="form-control border border-primary" placeholder="Pick time range" id="date-range">
                <!--<div class="input-group-append">
                    <i class=" fas fa-calendar input-group-addton"></i>
                </div>-->

                <select id="fullName" class="form-control border-primary">
                    <option>All</option>
                    <div th:each="item : ${resources}">
                        <option th:text="${item}" th:selected="${fullName} == ${item}">NULL</option>
                    </div>
                </select>
            </div>
        </div>

        <div class="col-md-auto">
            <button id="refresh-table" type="button" class="btn btn-outline-primary">
                <span class="fas fa-sync-alt" title="refresh" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <table id="table" data-classes="table table-hover table-no-bordered" data-striped=true style="margin-top: 10px;">
        <thead class="text-white bg-dark">
        <tr>
            <th data-field="date">Date</th>
            <th data-field="activity">Activity</th>
            <th data-field="type">Type</th>
            <th data-field="resource">Resource</th>
            <th data-field="days">Days</th>
            <th data-field="description">Description</th>
            <th data-field="action" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">
                Action
            </th>
        </tr>
        </thead>
    </table>

    <div id="tiket-modal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog"> <!-- why -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update a ticket!</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group row justify-content-center">
                        <label for="date" class="col-md-3 col-form-label">Date</label>
                        <div class="col-md-9">
                            <input type="date" name="date" id="date" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="activity" class="col-md-3 col-form-label">Activity</label>
                        <div class="col-md-9">
                            <input type="text" name="activity" id="activity" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="type" class="col-md-3 col-form-label">Type</label>
                        <div class="col-md-9">
                            <select id="type" class="form-control" name="type">
                                <option value="Support">Support</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="resource" class="col-md-3 col-form-label">Resource</label>
                        <div class="col-md-9">
                            <input type="text" id="resource" name="resource" readonly class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="description" class="col-md-3 col-form-label">Description</label>
                        <div class="col-md-9">
                            <input type="text" name="description" id="description" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="days" class="col-md-3 col-form-label">Days</label>
                        <div class="col-md-9">
                            <input type="number" step="0.1" min="0.1" name="days" id="days" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2.5 offset-md-7">
                            <button id="cancel" type="button" class="btn btn-secondary">Cancel</button>
                        </div>

                        <div class="col-md-2.5 offset-md-1">
                            <button id="submit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<form id="export-form" method="get" action="/timesheet/rest/ticket/export" target="" style="display: none">
    <input name="fullName">
    <input name="dateRange">
</form>


<!-- jQuery -->
<script src="/timesheet/node_modules/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="/timesheet/node_modules/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap-table js -->
<script src="/timesheet/node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>-->
<script src="/timesheet/node_modules/moment/moment.js"></script>
<script src="/timesheet/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>

<script th:inline="javascript">
    var $table = $('#table');
    var $modal = $('#tiket-modal');

    $(function () {
        /*
         * daterangepicker, place daterangepicker before bootstrapTable
         */
        var start = /*[[${startDate}]]*/ "2018.01.01";
        var end = /*[[${endDate}]]*/ "2019.01.01";

        $("#date-range").daterangepicker({
            singleDatePicker: false,
            startDate: start,
            endDate: end,
            minDate: "2018.01.01",
            linkedCalendars: false,
            showDropDowns: true,
            locale: {
                format: "YYYY.MM.DD"
            }
        });

        /*
         * bootstrapTable
         */
        $table.bootstrapTable({
            url: "/timesheet/rest/ticket",
            method: "get",
            dataType: "json",
            queryParams: function(params) {
                return {
                    fullName: $("#fullName").val(),
                    dateRange: $("#date-range").val(),
                    pageSize: params.limit,
                    offset: params.offset
                };
            },
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 5
        });

        /* events */
        $('#add-ticket').click(function () {
            showModal(this.title);
        });

        $('#refresh-table').click(function () {
            $table.bootstrapTable('refresh');
        })

        $('#cancel').click(function () {
            $modal.modal('hide');
        })

        $('#export').click(function () {
            $("form#export-form [name='fullName']").val($('#fullName').val());
            $("form#export-form [name='dateRange']").val($('#date-range').val());
            $('#export-form').submit();
        });

        $modal.find('#submit').click(function () {
            var row = {};
            row.id = $modal.data('id');
            $modal.find("input[name]").each(function () {
                row[$(this).attr('name')] = $(this).val();
            });
            $modal.find('select[name]').each(function () {
                row[this.name] = this.value;
            });
            createOrUpdateTicket(row);
        });



    });

    function operateFormatter() {
        return [
            '<a class="update" href="javascript:" title="Update a ticket"><span class="fas fa-edit"></span></a>',
            '<a class="delete" href="javascript:" title="Remove a ticket"><span class="fas fa-trash-alt"></span></a>'
        ].join('&nbsp;&nbsp;');
    }

    var operateEvents = {
        "click .update": function (e, value, row) {
            showModal(this.title, row);
        },

        "click .delete": function (e, value, row) {
            deleteRow(row.id);
        }
    };

    /* tool functions */

    function deleteRow(id) {
        if (confirm("Are you sure to delete this item?")) {
            $.ajax({
                url: "/timesheet/rest/ticket/delete?ticketId=" + id,
                type: "DELETE",
                dataType: "text",
                success: function () {
                    $table.bootstrapTable("refresh");
                    alert('Delete item successful!');
                },
                error: function () {
                    alert('Delete item error!');
                }
            });
        }
    }

    function showModal(title, row) {
        var defautRow = {
            "id": '',
            "date": '',
            "activity": '',
            "type": 'Support',
            // todo done
            "resource": '',
            "days": '',
            "description": ''
        };
        defautRow.resource = /*[[${fullName}]]*/'Your full name';
        row = row || defautRow;
        $modal.find('.modal-title').text(title);
        $modal.data("id", row.id);
        // todo  'type' value
        for (var name in row) {
            $modal.find('input[name="' + name + '"]').val(row[name]);
            $modal.find('select[name="' + name + '"]').val(row[name]);
        }
        $modal.modal('show');
    }

    function createOrUpdateTicket(row) {

        $.ajax({
            url: "/timesheet/rest/ticket/createOrUpdate",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(row),
            dataType: "text",
            success: function () {
                $modal.modal('hide');
                $table.bootstrapTable('refresh');
                alert(($modal.data('id') ? "update" : "create") + " item successfully");
            },
            error: function () {
                $modal.modal('hide');
                alert(($modal.data('id') ? "update" : "create") + " item error");
            }
        });
    }

</script>
</body>
</html>